
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFB872;
  background-color: #092026;

  --lightest-cream: #e0cfbf;
  --lighter-cream: #e0cfbf;
  --dark-light-cream: #E09c57;
  --medium-cream: #AA7139;
  --light-dark-cream: #744920;
  --darkest-cream: #3D250D;

  --lightest-gold: #FFD172;
  --dark-light-gold: #E0Bf57;
  --medium-gold: #AAB539;
  --dark-light-gold: #745820;
  --darkest-gold: #352402;

  --lightest-rose: #ff8d72;
  --dark-light-rose: #e07257;
  --medium-rose: #aa4e39;
  --light-dark-rose: #743020;
  --darkest-rose: #3D180D;

  --lightest-blue: #e5edef;
  --lighter-blue: #56A6B9;
  --dark-light-blue: #397B8B;
  --medium-blue: #153E47;
  --light-dark-blue: #092026;
  --darkest-blue: #010c0f;

  --lightest-green: #d0e2d6;
  --dark-light-green: #67cc89;
  --medium-green: #62846e;
  --light-dark-green: #183f25;
  --darkest-green: #031e0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

#container {
  display: grid;
  grid-template-rows: 15vh 1fr;
  grid-template-columns: repeat(8, 15vw);
  height: 100vh;
  width: 100vw;
  margin-bottom: -10vh;
}

header {
  grid-area: header;
  background: linear-gradient(var(--darkest-gold), var(--light-dark-rose));
  border-bottom: var(--darkest-gold) 5px solid;
  color: var(--lighter-blue);
  font-size: 7vh;
  grid-column: 1 / 8;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  padding-left: 14%;
  font-weight: bolder;
  text-shadow: 2px 2px 2px var(--medium-blue);
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--lightest-cream);
  padding-left: .8rem;
  padding-top: .8rem;
}

h3 {
  font-weight: bold;
}

p {
  color: var(--lightest-cream);
  line-height: 1.6;
}

ul {
  line-height: 1.6;
}

#title {
  grid-column: 2 / 8;
  grid-row: 2;
  background-color: var(--medium-blue);
  border-bottom: var(--darkest-gold) 5px solid;
  padding-bottom: 2vh;
  padding-left: 10vw;
}

#nav {
  background: linear-gradient(90deg, var(--light-dark-green), var(--light-dark-blue));
  border-right: var(--darkest-gold) 5px solid;
  grid-column: 1;
  grid-row: 2 / 4;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navItem, .project-logo {
  height: 8vw;
  width: auto;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}

#content {
  background-color: var(--darkest-green);
  color: var(--lightest-cream);
  overflow-y: scroll;
  grid-column: 2 / 8;
  grid-row: 2;
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 1fr 1fr;
  column-gap: 5vw;
  row-gap: 5vw;
  padding: 5vw 10vw;
}

.content-left {
  grid-column: 1;
}

.content-right {
  grid-column: 2;
}

.contentImg {
  height: 70vh;
  width: auto;
  /* justify-content: center;
  align-items: center; */
}

#project-logos {
  display: flex;
  flex-direction: row;
}

#project-logos * {
  height: 30vh;
}

footer {
  background: linear-gradient(var(--light-dark-rose), var(--darkest-gold));
  border-top: var(--darkest-gold) 5px solid;
  color: var(--lighter-blue);
  grid-column: 1 / 8;
  margin-top: -10vh;
  height: 10vh;
}

#TStribute {
  background-image: url('../public/TS_Tribute.IM_Fell_DW_Pica.svg')
}

@media only screen and (max-width: 600px) {
  /* CSS rules for small screens */

  #nav {
    display: none;
  }
  #content {
    grid-column: 1 / 8;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* CSS rules for medium screens */
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* CSS rules for large screens */
}

@media only screen and (min-width: 1201px) {
  /* CSS rules for extra-large screens */
}